.about__container {
    display: flexbox;
    justify-content: center;
   
}

.about__cards{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    height: 14rem;

}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;

}

.about__card h5{
    font-size: 1rem;

}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
}
.about__content p {
    gap: 15%;
    margin: 2rem 0 2.6rem;
    color:var(--color-light)
}

@media screen and (max-width: 1024px){
    .about__container{
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__content p{
        margin: 1em 0 1.5rem;
    }
}

@media screen and (max-width: 600px){
    
  
    .about_me{
        width: 65%;
        margin: 1rem auto 4rem;
    }
    .about__cards {
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
       
        
        
    }
    .about__content{
        text-align: center;
    }
    .about__content p{
        margin-top: 12rem;
        
    }
}